# blablabla:
 En este notebook, trabajando en el me doy cuenta que es aprox el 0.000000001% del rollo, pero al final todo esfuerzo es bien remunerado con conocimiento extra.

## Para empezar
Este es un notebook, se utiliza principalmente para el Data Science. La descripción oficial dice: Jupyter Notebook es una aplicación web que permite crear y compartir documentos que contienen código fuente, ecuaciones, visualizaciones y texto explicativo. Entre sus usos está la limpieza y transformación de datos, la simulación numérica, el modelado estadístico, el aprendizaje automático y mucho más.

In [14]:
#Biblioteca numpy es algebra lineal
import numpy as np 

#Biblioteca pandas sirve para manipulación y análisis de datos https://pandas.pydata.org/pandas-docs/stable/10min.html
#En su mayoría para editar matrices, un ejemplo es el csv que viene abajo. Puedes consultar más en Kaggle
import pandas as pd

#Si quieres aprender más del tema, te adjunto un libro perfecto https://goo.gl/6QZ7ZC

In [41]:
#Importamos el data-set de ejemplos de spam
#Siempre hay pedos con el encoding, te recomiendo usar Latin-1 ya que tiene la mayoría o una basta colección de caracteres
#Si sigue sin jalar puedes usar algo tipo open(nameText, errors='ignore') pero ya en caso extremo
data = pd.read_csv("spam.csv",encoding='latin-1')

In [39]:
#Returns por deafault las primeras 5 celdas (0....4) del archivo 
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Como ves, solo dos columnas no sirven.
La primera columna "v1" que nos muestra Spam | Ham y "v2" que contiene el respectivo mensaje. So, procedemos a borrar las otras tres casillas que tienen pura caca,renombrar las dos que nos sirven y convertir a binario si S | H

In [42]:
data = data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)
data = data.rename(columns={"v1":"categoria", "v2":"texto"})
data['binario'] = data.categoria.map({'ham':0, 'spam':1})
data.head()

  categoria                                              texto  binario
0       ham  Go until jurong point, crazy.. Available only ...        0
1       ham                      Ok lar... Joking wif u oni...        0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...        1
3       ham  U dun say so early hor... U c already then say...        0
4       ham  Nah I don't think he goes to usf, he lives aro...        0

Se ve más legible

Podemos hacer operaciones con la matriz que creamos

In [25]:
data.categoria.value_counts() # dcantidad individual

ham     4825
spam     747
Name: categoria, dtype: int64

In [26]:
len(data) # suma de ambas

5572

In [57]:
bin = (data["binario"].value_counts(normalize=True)) * 100 # % de cada una 
bin

0    86.593683
1    13.406317
Name: binario, dtype: float64

86% ham y 13% spam

# Uso de AI con el dataset que acabamos de hacer

Actually podemos reducir la tabla a esta que dejaré aquí abajo

In [58]:
data = data.drop(["categoria"], axis=1)

In [60]:
data.head()

                                               texto  binario
0  Go until jurong point, crazy.. Available only ...        0
1                      Ok lar... Joking wif u oni...        0
2  Free entry in 2 a wkly comp to win FA Cup fina...        1
3  U dun say so early hor... U c already then say...        0
4  Nah I don't think he goes to usf, he lives aro...        0

In [61]:
from sklearn.model_selection import train_test_split
# http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
# https://www.youtube.com/watch?v=lSwvUmZCvco

In [68]:
X_train,X_test,y_train,y_test = train_test_split(data["texto"],data["binario"], test_size = 0.33)

## Ejemplo burdo como un joseandres:
Un set de 100 datos texto & binario donde binario = H | S </p>
test_size = 0.33 that means que X_train usará 66 de los datos para entrenar y 33 de ellos para practicar o probar

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer() #http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html#sklearn.feature_extraction.text.CountVectorizer.fit
vect.fit(X_train)

X_train_df = vect.transform(X_train) 
X_test_df = vect.transform(X_test)

prec = dict() #The dict() constructor builds dictionaries directly from sequences of key-value pairs, https://docs.python.org/3/tutorial/datastructures.html

from sklearn.naive_bayes import MultinomialNB #http://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html#sklearn.naive_bayes.MultinomialNB.predict
model = MultinomialNB() 
model.fit(X_train_df,y_train) #(X, y[, sample_weight])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [94]:
prec["Multinomial"] = model.predict((X_test_df)) #Perform classification on an array of test vectors X
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,prec["Multinomial"])

0.98368678629690054